@charset "UTF-8";
/***************common***************/
body{
    font:14px "微软雅黑";
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin:0;
    padding:0;
}
p,ul,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
a{text-decoration: none; color: #2e3092;}
ul{list-style: none;}
img{vertical-align:middle;border:0;}
.le{float: left;}
.rt{float:right;}
input{font-size:12px;}

/****************HEADER***********************/
body{
    margin:0;
    padding:0;
    background:url(../img/header_bg.png) repeat-x;
}
header{
    width:950px;
    height:30px;
    margin:0 auto;
}
i{
    color: #db7819;
}
.logo{
    display:inline-block;
}
.logo .search{
    display:inline-block;
    bottom:10px;
}
.logo .search input{
    width:130px;
    margin-right: -25px;
}
.logo .search i{
    color:black;
}
header .nav li{
    display:inline-block;
    padding:0 8px;
    line-height: 30px;
    font-size: 13px;
    font-family: "宋体";
    position:relative;
}
header .nav .dropdown{
    width:55px;
    clear:both;
    border:1px solid grey;
    padding:3px;
    text-align: center;
    border-top:none;
    z-index:999;
    box-shadow: 1px 2px;
    border-radius: 3px;
    display:inline-block;
    position:absolute;
    display:none;
}

header .nav .dropdown a:hover{
    font-size:16px;
    color:red;
    font-weight:bold;
}
header .nav #menu1{
    top:27px;
}
header .nav #menu2{
    top:27px;
    left:-2px;
}
header .nav #menu3{
    top:27px;
    left:-3px;
}

/***************登录panel*****************/
.panel{
    width:320px;
    height:400px;
    position:absolute;
    /*top:50%;*/
    /*left:50%;*/
    /*margin-top:-200px;*/
    /*margin-left: -160px;*/
    border:3px solid grey;
    border-radius: 13px;
    z-index:999;
    display:none;
    background-color: white;
}
.login-header{
    z-index:9999;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    cursor:move;

}
.login-header h1{
    display:inline-block;
    padding-left:8px;
}
.login-header img{
    float:right;
    margin-top: 1px;
    margin-right: 1px;
    cursor:pointer;
}
.login-inpgrp{
    width:80%;
    margin:0 auto;
    height:50%;
}

.login-inpgrp .inp-item{
    height:30px;
    width:85%;
    padding-left: 35px;
    z-index: 999;
    border:none;
}
.login-inpgrp input[type='text'] {
    border:1px solid grey;
    border-radius: 3px;
    background: #fff url(../img/username.png) no-repeat 6px 8px;
    margin-top: 35px;
}
.login-inpgrp input[type='password']{
    border:1px solid grey;
    border-radius: 3px;
    background: #fff url(../img/pwd.png) no-repeat 6px 8px;
    margin-top: 35px;
}
.login-inpgrp span{
    display: inline-block;
    margin-top: 30px;
    text-align: right;
    width: 90%;
}
.login-inpgrp input[type='submit']{
    width:90%;
    text-align: center;
    height:35px;
    margin:0 auto;
    margin:10px;
    font-size:18px;
    background-color: #1584DB;
    border:none;
    color:#fff;
    cursor:pointer;
}

.login-footer{
    margin-top: 60px;
    width:100%;
    text-align: center;
}
/**********遮罩层***************/
.modal{
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    width:100%;
    height:100%;
    filter:opacity(30);
    opacity:0.3;
    display:none;
    z-index:998;
}

